:root {
    /* CSS HEX */
    --gunmetal: #022b3aff;
    --teal: #1f7a8cff;
    --columbia-blue: #bfdbf7ff;
    --lavender-web: #e1e5f2ff;

    /* CSS HSL */
    --gunmetal: hsla(196, 93%, 12%, 1);
    --teal: hsla(190, 64%, 34%, 1);
    --columbia-blue: hsla(210, 78%, 86%, 1);
    --lavender-web: hsla(226, 40%, 92%, 1);
}

html {
    box-sizing: border-box
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--lavender-web);
    margin: 0 88px;
    font-family: 'Source Code Pro', monospace;
}

#nav-menu {
    display: flex;
    justify-content: space-between;
    height: 12%;
    margin-top: 22px;
}

#nav-menu>li {
    display: flex;
    width: 11%;
    border-radius: 8px;
    border: none;
    margin: 0 29px;
    background-color: var(--teal);
    justify-content: center;
    /* center text in span items inside */
}


#nav-menu>li:first-child {
    margin-left: 0;
}

#nav-menu>li:last-child {
    margin-right: 0;
}

#nav-menu>li>a {
    color: var(--columbia-blue);
    font-weight: 800;
    font-size: 22px;
    padding: 11px;
    text-transform: uppercase;
    text-decoration: none;
}

main {
    margin-top: 44px;
}

p.about {
    color: var(--gunmetal);
    font-size: 22px;
    text-align: justify;
}

ol#events-list>li {
    list-style: decimal inside;
    /* to prevent the numbers going outside div when li items aligned centrally*/
}

aside {
    display: table;
    width: 100%;
    background-color: white;
    padding: 11px;
}

aside>div.code {
    padding: 8px;
    border-top: 1px solid black;
    font-size: 15px;
    margin: 22px 0;
    background-color: white;
}

div.code>code {
    white-space: pre-wrap;
}

div.code>table,
div.code>table td {
    border: 2px solid var(--columbia-blue);
    border-collapse: collapse;
    padding: 4px;
    margin: 0 auto;
}

section {
    height: 620px;
    margin: 22px 0;
    display: flex;
    justify-content: space-between;
}

.demo-container {
    height: 100%;
    width: 31%;
    padding: 11px;
    border: 4px solid var(--teal);
    text-align: center;
    padding: 11px;
    background-color: var(--columbia-blue);
    /* to keep buttons at bottom of container if an element before is hidden/removed */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.demo--img {
    object-fit: cover;
    width: 80%;
    height: 310px;
    margin-top: 11px;
}

.demo--canvas {
    width: 80%;
    height: 150px;
    margin: 11px auto 0;
    font-size: 22px;
}

.tealBG {
    background-color: var(--teal);
}

.gunmetalBG {
    background-color: var(--gunmetal);
}

.info-container {
    width: 66%;
    padding: 11px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info-container>img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.action-buttons {
    width: 30%;
    margin: 22px auto;
    height: 44px;
    border-radius: 8px;
    border: none;
    background-color: var(--gunmetal);
    color: white;
    text-align: center;
}